PORT= 4000
MONGO_URI= mongodb://localhost:27017/universal_admin
NODE_ENV= development
JWT_EXPIRES_IN=1d
JWT_SECRET= thisisasecretkeyforjwt
MYSQL_HOST= localhost
MYSQL_PASSWORD=
MYSQL_USER=root
# CLIENT_URL=http://localhost:5173
CLIENT_URL=http://192.168.1.61:5175/admin

FILE_SERVER_URL=
FILE_SERVER_UPLOAD_ENDPOINT=/upload
FILE_SERVER_AUTH_TOKEN=
JWT_SECRET=


ALLOWED_ORIGINS=

# Rate Limiting
SIGNUP_RATE_LIMIT_MINS=15
SIGNUP_RATE_LIMIT_MAX=100
CHECK_NAME_RATE_LIMIT_MINS=1
CHECK_NAME_RATE_LIMIT_MAX=20
LEAD_RATE_LIMIT_MINS=15
LEAD_RATE_LIMIT_MAX=5

# Mailer
MAIL_USER=zeeshannaxape@gmail.com
MAIL_PASS=bpjp dblp kuzi jaga

# This is for the company admins
COMPANY_PORTAL_PRODUCT_ID=